.container {
  background: white;
  min-height: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
}

body.brave-software-com {
  background-color: aquamarine;
}

body.brave-software {
  background-color: pink;
}

section:not(:last-child) {
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.breadcrumb li:last-child a:after {
  content: " →";
}